account_id         = "<account_id>"
region             = "<region_with_ses>"
bucket_name        = "<prefix>-ses-forwarder"
lambda_role_name   = "ses-forwarder-lambda"
lambda_name        = "ses-forwarder"
mail_s3_prefix     = "path/"
mail_from          = "<to_email>"
mail_to            = "<fowarded_to_email>"
ses_mail_recipient = "<user>@email.com"
ses_rule_name      = "rule_name"
ses_set_name       = "rule_set_name"
sns_display_name   = "First Last"
sns_email_address  = "<user>@email.com"
sns_stack_name     = "ses-forwarder"