account_id        = "<account_id>"
region            = "<region_with_ses>"
bucket_name       = "<prefix>-ses-forwarder"
lambda_role_name  = "ses-forwarder-lambda"
lambda_name       = "ses-forwarder"
mail_s3_prefix    = "<user>"
mail_sender       = "<user>@email.com"
mail_recipient    = "<user>@email.com"
sns_display_name  = "First Last"
sns_email_address = "<user>@email.com"
sns_stack_name    = "ses-forwarder"